p {
    padding: 0.75rem !important;
    padding-bottom: 0 !important;
}

img {
    max-width: 100% !important;
    width: 100% !important;
    height: 375px !important;
    object-fit: cover;
}

.box {
    padding: 0 !important;
}

.imgDiv {
    height: 375px;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

#brandName {
    font-size: 25px;
    color: rgb(7, 151, 199);
    font-weight: bold;
}

#modalImg {
    width: 100% !important;
    height: inherit !important;
}

.recipe-section {
    width: 30%;
    height: 250px;
    float: right;
}

.recipe-section-header {
    font-weight: bold;
}

.recipe-info {
    padding-bottom: 15px;
}

.recipe-info p {
    padding-top: 0 !important;
}

ol {
    padding-left: 1rem !important;
}